doctype html
html
    head
        include includes/meta.pug
        title kimheeyong|Portfolio
    body
        header 
            .ddd
            .gnb_wrap
                .gnb
                    .gnb_left
                        h1 
                            a.logo(href="fuga.html")
                                img(src="../image/logo.png", alt="logo", title="logo")
                    .gnb_right
                        .gnb_right_content
                            a.about_bt(href="#") about 
                            a.all_bt(href="#")
                                img(src="../image/icon_allmenu.svg", alt="menu" title="menu") 
                        .works_modal
                            .works_back
                            .works_body work
                                .works_close
                                    span 
                                    span 
                                nav.works_menu
                                    include includes/nav.pug
        main.main
            .background-color-layer
            section.main_visual
                .main_visual_wrap
                    .main_visual_wrap__video
                        video(
                            playsinline
                            muted
                            autoplay
                            loop="2"
                            poster="../image/poster.png"
                            ata-aos="fade-down"
                            data-aos-easing="linear"
                            data-aos-duration="600"
                            )
                            source(src="../image/bg7_bak.mp4", type="video/mp4")
                    div.index_txt(ata-aos="fade-down", data-aos-easing="linear", data-aos-duration="1500")
                        span.index_top(
                            data-aos="fade-down", data-aos-easing="linear", data-aos-duration="500"
                        ) Web Design, Publishing
                        span.index_title(
                            data-aos="fade-down", data-aos-easing="linear", data-aos-duration="700"
                        ) portfolio
                        span.index_date(
                            data-aos="fade-down", data-aos-easing="linear", data-aos-duration="900"
                        ) KIM HEEYONG 2021 Vol.01
                    div
                        img.scroll_line(src="../image/scroll_line.png", alt="mouses croll", title="mouse scroll", data-aos-easing="linear", data-aos-duration="1300")
                        a.mouse_scroll(href="#")
                            img(src="../image/mousescroll.png", alt="mouses croll", title="mouse scroll", data-aos-easing="linear", data-aos-duration="1300") 
            section.main_publishing
                .main_publishing__content
                    .card(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="1500")
                        h2 works
                        .card_block
                            include includes/m_gaiso.pug
                        .card_block
                            include includes/m_community.pug
                        .card_block
                            include includes/m_iinexus.pug
                        .card_block
                            include includes/m_wrdtrans.pug
                        .card_block
                            include includes/m_andscan.pug
                        .card_block
                            include includes/m_fana.pug
                        .card_block 
                            include includes/m_raon.pug
                        .card_block 
                            include includes/m_hba.pug
                        .card_block 
                            include includes/m_kokusai.pug
                        .card_block 
                            include includes/m_marvel.pug
                        .card_block 
                            include includes/m_applerepair.pug
                        .card_block 
                            include includes/m_mini.pug
                        .card_block 
                            include includes/m_nayeju.pug
                        .card_block 
                            include includes/m_lexus.pug
                        .card_block 
                            include includes/m_canon.pug
                        .card_block 
                            include includes/m_jinro.pug
                        .card_block 
                            include includes/m_samsung.pug
                        .card_block 
                            include includes/m_topri.pug
                    .card.about(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="1500")
                        h2 about
                        .card_block
                            .pro_img.left
                                img.img-responsive.about_bg.pc-only(src="../image/about_bg.png", data-aos="fade-right", data-aos-easing="linear", data-aos-duration="500")
                                img.img-responsive.about_thum(src="../image/me.png", data-aos="fade-right", data-aos-easing="linear", data-aos-duration="1000")
                            .pro_txt.right
                                span(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="500") Front-End Engineer    
                                p(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="500") KIM HEEYONG / キム ヒヨン
                                .education(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="500")
                                    p.pro_tit education
                                    p ソウルデジタル大学校 卒業
                                .skill(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="700")
                                    p.pro_tit Skills
                                    ul
                                        li                      
                                            .skill_con
                                                img.skill_img.left(src="../image/about_ps.svg")
                                                .skill_txt.left
                                                    span.skill_tit Adobe Photoshop
                                                    .skill_bar_active.skill_ps
                                                    span.skill_bar
                                        li                      
                                            .skill_con
                                                img.skill_img.left(src="../image/about_ai.svg")
                                                .skill_txt.left
                                                    span.skill_tit Adobe Illustrator
                                                    .skill_bar_active.skill_ai
                                                    span.skill_bar
                                        li                      
                                            .skill_con
                                                img.skill_img.left(src="../image/about_xd.svg")
                                                .skill_txt.left
                                                    span.skill_tit Adobe XD
                                                    .skill_bar_active.skill_xd
                                                    span.skill_bar
                                        li                      
                                            .skill_con
                                                img.skill_img.left(src="../image/about_html.svg")
                                                .skill_txt.left
                                                    span.skill_tit Adobe HTML
                                                    .skill_bar_active.skill_html
                                                    span.skill_bar
                                        li                      
                                            .skill_con
                                                img.skill_img.left(src="../image/about_css.svg")
                                                .skill_txt.left
                                                    span.skill_tit CSS
                                                    .skill_bar_active.skill_css
                                                    span.skill_bar
                                        li                      
                                            .skill_con
                                                img.skill_img.left(src="../image/about_js.svg")
                                                .skill_txt.left
                                                    span.skill_tit Java Script (jQuery)
                                                    .skill_bar_active.skill_js
                                                    span.skill_bar
                                .contact(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="500", data-aos-offset="0")
                                    p.pro_tit contact
                                    .line_bt
                                        a(href="https://line.me/ti/p/1ZHdBn4tTL", target="_blink")
                                            span LINE
                                        a(href="mailto:heeyong8146@gmail.com", title="send", target="")
                                            span E-mail 
        include includes/footer.pug
        .gotop
            span top
//- mixin link(fo, to ,name)
//-   #{fo}(data-aos="fade-down", data-aos-easing="linear", data-aos-duration!=to)&attributes(attributes)= name
//- +link('div', '500', 'foo')(class="btn")
//- +link('spna', '800', 'foo')(class="btn")
//- +link('p', '900', 'foo')(class="btn")